%h3
    Your recipes:
- @recipes.each do |recipe|
    .card
        .card-body
            %h5.card-title
                = link_to recipe.name, recipe_path(recipe)
            = link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-primary'   
            = link_to "Delete", recipe_path(recipe), data: { turbo_method: :delete }, class: 'btn btn-danger' 
            %p.card-text
                = recipe.description

= paginate @recipes