!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .container
      .row
        .col
          %h1.text-center= "Food application!"
      %nav.navbar.navbar-expand-lg
        #navbarSupportedContent
          = form_with url: search_path, method: :get, html: { class: "form-inline"} do |f|
            .input-group
              .col-auto.my-1
                = f.text_field :search, class: "form-control mb-2"
              .col-auto.my-1
                = f.submit 'Search', class: "btn btn-primary mb-2 my-2 my-sm-0"
      = yield
